header {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    
    background-image: url("../images/Header-Image.jpg");
    height: 42vh;
    min-height: 200px;
  
    box-shadow: black -6px 3px 25px 0px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
}
.headerImg {
    width: 50%;
}

.siteTitle{
    align-self: center;
    color:white;
    text-shadow: 3px 3px #000000;
}
