@import "./dropdowns.css";
@import "./header.css";
@import "./plannedItinerary.css";
@import "./preview.css";

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

header {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
}
.cottage {
    width: 10%;
}

body {
    background-image: url(../images/mona-eendra-vC8wj_Kphak-unsplash.jpg);
}

.container {
    display: flex;
    position: relative;
    min-height: 100vh;
}

.leftContent{
    flex: 3;
}

.rightContent{
    flex: 1;
}

.filterContainer{
    display: flex;
}

h1, h3, button {
    font-family: 'Playfair Display', serif;
}
h4, select {
    font-family: 'Raleway', sans-serif;
}
.leftContent, .rightContent{
    padding-bottom: 2.5rem;
    
}
footer {
    position: absolute;
    height: 2.5rem;
    bottom: 0;
}
