@import "./dropdowns.css";
@import "./header.css";
@import "./plannedItinerary.css";
@import "./preview.css";
@import "./CloseButton.css";

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');


body {
    background-image: url(../images/mona-eendra-vC8wj_Kphak-unsplash.jpg);
}

.container {
    display: flex;
    position: relative;
    min-height: 100vh;
}

.leftContent{
    width: 70%
}

.rightContent{
    width: 30%;
}

.filterContainer{
    display: flex;
    width:140%;
}

h1, h3, button, .dialogTitle {
    font-family: 'Playfair Display', serif;
}
h4, select, .weatherDetail, .dialogContent {
    font-family: 'Raleway', sans-serif;
}
.leftContent, .rightContent{
    padding-bottom: 2.5rem;
    
}
footer {
    position: absolute;
    height: 2.5rem;
    bottom: 0;
}

#previewWeather{
    background-color: rgb(255, 255, 255, .2);
    padding: 1rem;
    border-radius: 3px;
}
