.rightContent {
    margin-left: 6rem;
    margin-top:1rem;
    border: 1px solid black;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.2);
    
}
.plan{
    padding-bottom: 1rem;
    margin: 2rem 0;
    border-bottom: 1px solid black;
}